#friends-display-link {
	text-align: center;
	display: block;
	background-color: #f5f8fa;
	padding: 15px 0px;
	margin-bottom: 15px;
}

#friends-display-link i {
	color: rgba(0, 0, 0, 0.2);
}

.friends__screen {
	padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
	margin-top: 23px;
	border-top: 1px solid var(--border-color);
	padding-top: 13px;
}

.friends-screen__channel-header {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.4);
}

#splash-screen {
	background-color: var(--green);
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 120px;
	animation: hideSplashScreen 0.6s ease-in-out forwards;
}

@keyframes hideSplashScreen {
	fron {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
